.pp {
    width: 1110px;
    min-height: 100px;
    //border: 2px solid black;
    margin: 0 auto;
    margin-top: 30px;
    .pp__profile-options-content {
        display: flex;
        justify-content: space-between;
        width: 750px;
        min-height: 100px;
    //    border: 2px solid green;
        margin-top: 50px;
        .pp__profile-img-content {
            width: 250px;
            height: 100%;
          //  border: 2px solid red;
            .pp__profile-img {
                display: flex;
                width: 100%;
                height: 50%;
              //  border: 2px solid teal;
                .Detail {
                    width: 115px;
                    height: 115px;
                    position: relative;
                    right: 158px;
                    top: 41px;
                    cursor: 'pointer'
                }
            }
            .pp__profile-download-content {
                display: flex;
                width: 100%;
                height: 20px;
               // border: 2px solid teal;
                margin-top: 15px;
                .pp__text-one {
                    margin-left: 20px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    /* identical to box height */
                    
                    
                    color: #000000;
                }
                .pp__text-one:first-child {
                    margin-left: 0px;
                }
            }
        }
        .pp__profile-form-content {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 100%;
           // border: 2px solid red;
            .pp__profile-form-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 387px;
                height: 40px;
               // border: 2px solid teal;
                margin-top: 16px;
                .pp__form-input-content {
                    .pp__form-input {
                        width: 272px;
                        height: 38px;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px;
                        padding-left: 8px;
                    }
                    .pp__edit {
                        position: relative;
                        right: 24px;
                    }
                }
            }
            .pp__profile-form-block:first-child {
                margin-top: 0px;
            }
            .pp__profile-form-button {
                align-self: flex-end;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 128px;
                height: 38px;
                background: #7E5BC2;
                border-radius: 10px;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                
                color: #FFFFFF;
                margin-right: 28px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
    .pp__profile-main-content {
        width: 100%;
        min-height: 300px;
     //   border: 2px solid green;
        .pp__title-and-download-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 56px;
         //   border: 2px solid teal;
            margin: 105px 0 70px 0;
            .pp__title {
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 55px;
                
                color: #000000;
            }
            .pp__new-download {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 191px;
                height: 30px;
                background: #7E5BC2;
                border-radius: 10px;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                
                color: #FFFFFF;
                cursor: pointer;
            }
        }
    }
}