.share {
    .share__content {
        width: 387px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border-radius: 10px;
        padding: 21px 16px 35px 16px;
        .share__block-one {
           display: flex;
           justify-content: space-between;
           width: 353px;
           height: 25px;
           //border: 1px solid green;
           .share__title {
             font-family: 'Inter';
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 19px;
             
             color: #000000;
             margin-top: 2px;
           }
        }
        .share__block-two {
            display: flex;
            justify-content: space-between;
            width: 319px;
            height: 60px;
           // border: 1px solid green;
            margin-top: 20px;
        }
        .share__block-three {
            display: flex;
            justify-content: space-between;
            width: 353px;
            height: 80px;
           // border: 1px solid green;
            margin-top: 30px;
            .share__text-content {
                .share__title-text {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    
                    color: #000000;
                }
                .share__text {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    
                    
                    color: #000000;
                    margin: 20px 0 0px 20px;
                }
            }
            .share__copy-img {
                margin-top: 34px;
                cursor: pointer;
            }
        }
    }
}