.MegalabTitle {
    .header__logo {
        .logo__second-letter {
            position: relative;
            bottom: 8px;
            margin-left: 2px;
        }
        .logo__second-letter-two {
            position: relative;
            right: 2px;
            bottom: -5px;
            margin-left: -15px;
        }
        .logo__3th-letter {
            margin-left: 0.4px;
            position: relative;
            top: 3px;
        }
        .logo__4th-letter {
            margin-left: 2px;
            position: relative;
            top: 1.5px;
        }
        .logo__5th-letter {
            margin-left: 2px;
            position: relative;
            top: -1.3px;
        }
        .logo__6th-letter {
            margin-left: 2px;
            position: relative;
            top: -8px;
        }
        .logo__6th-letter-two {
            position: relative;
            top: 5px;
            right: 16px;
        }
        .logo__7th-letter {
            position: relative;
            right: 13px;
            bottom: 1px;
        }
    }
}